@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Jokes Application</h1>
    <p>The Formost Authirity for the good human that you would find anywhere in the local host.</p>
</div>
